<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="effects" type="MattLamp.Config.EffectsConfigSectionHandler, MattLamp" />
    <section name="devices" type="MattLamp.Config.DevicesConfigSectionHandler, MattLamp" />
    <section name="colors" type="MattLamp.Config.CustomColorConfigSectionHandler, MattLamp" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" filename="${basedir}/MattLamp.log" maxArchiveFiles="10" archiveAboveSize="1024000" layout="${longdate} [${level:uppercase=true}] ${logger}: ${message} ${exception:format=ToString}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeto="logfile" />
    </rules>
  </nlog>
  <effects xmlns="http://schneenet.com/MattLamp/EffectsConfig.xsd">
    <effect name="Off" description="Turn lights off" />
    <effect name="Live Mode" description="Set LEDs through the interface" />
    <effect name="Solid Color" description="Set all LEDs to the first color in the configuration" />
    <effect name="Cycle Colors" description="Cycle all LEDs through configured colors" />
    <effect name="Chase" description="Cycle individual LEDs through configured colors" />
    <effect name="Strobe All" description="Flash all LEDs quickly, cycling through configured colors" />
    <effect name="Strobe Chase" description="Flash individual LEDs quickly in sequence" />
    <effect name="Fade" description="Fade all leds between configured colors" />
    <effect name="Cycle Effects" description="Cycle through all of the effects" />
  </effects>
  <devices xmlns="http://schneenet.com/MattLamp/DevicesConfig.xsd">
    <device name="MattLamp" vid="65261" pid="56017" rev="1" usagePage="65376">
      <leds>
        <led x="0" y="10" />
        <led x="10" y="0" />
        <led x="20" y="10" />
        <led x="10" y="20" />
        <led x="10" y="30" />
      </leds>
    </device>
  </devices>
  <colors xmlns="http://schneenet.com/MattLamp/CustomColorsConfig.xsd">
    <color r="255" g="141" b="27" />
    <color r="255" g="162" b="79" />
    <color r="255" g="180" b="116" />
    <color r="255" g="195" b="146" />
    <color r="255" g="208" b="170" />
    <color r="255" g="219" b="191" />
    <color r="255" g="229" b="209" />
    <color r="255" g="239" b="225" />
    <color r="255" g="247" b="239" />
    <color r="255" g="255" b="255" />
    <color r="239" g="240" b="255" />
    <color r="227" g="233" b="255" />
    <color r="219" g="228" b="255" />
    <color r="213" g="225" b="255" />
    <color r="208" g="222" b="255" />
    <color r="204" g="219" b="255" />
  </colors>
</configuration>